<h1 class="center-text">New Art Label!</h1>
<div class="container">
  <%= image_tag(@art_label.label_photo, height: "200") %>
  <div class="form-tile">
    <%= form_for @art_label do |f| %>

      <%= f.label :name, class: "white-text" %>
      <%= f.text_field :name, class: "short-field" %><br />

      <%= f.label :label_photo, 'Art Label Photo', class: "white-text" %>
      <%= f.file_field :label_photo %><br />

      <%= f.label :brewery, class: "white-text" %>
      <%= f.text_field :brewery, class: "short-field" %><br />

      <%= f.label :beer_style, class: "white-text" %>
      <%= f.text_field :beer_style, class: "short-field" %><br />

      <%= f.label :art_style, class: "white-text" %>
      <%= f.text_field :art_style, class: "short-field" %><br />

      <%= f.label :container_type, class: "white-text" %>
      <%= f.text_field :container_type, class: "short-field" %><br />

      <%= f.label :beer_description, class: "white-text" %>
      <%= f.text_field :beer_description, class: "short-field" %><br />

      <%= f.label :art_description, class: "white-text" %>
      <%= f.text_field :art_description, class: "short-field" %><br />

      <%= f.submit "Add Art Label", class: "button" %>

    <% end %>
  </div>
</div>
