<h1><%= @art_label.name %></h1>

Brewery: <%= @art_label.brewery %><br>
Beer Description: <%= @art_label.beer_description %><br>
Image: <%= @art_label.image_url %><br>
Submitted by: <%= @art_label.user.username %><br>
