<h1><%= @art_label.name %></h1>

Brewery: <%= @art_label.brewery %><br>
Beer Description: <%= @art_label.beer_description %><br>
Image: <%= @art_label.image_url %><br>

Submitted by: <%= @creator %><br>

<h3>Reviews:</h3>
<ul>
  <% @reviews.each do |review| %>
    <li>
      Username: <%= review.user.username %><br />
      Feels: <%= review.feels %><br />
      Intoxication Level: <%= review.intoxication_level %><br />
      Joy: <%= review.joy %> out of 5<br />
      Fear: <%= review.fear %> out of 5<br />
      Sadness: <%= review.sadness %> out of 5<br />
      Disgust: <%= review.disgust %> out of 5<br />
      Anger: <%= review.anger %> out of 5<br />
      Cleverness: <%= review.cleverness %> out of 5<br />
      Collectability: <%= review.collectability %> out of 5<br />
      Controversiality: <%= review.controversiality %> out of 5<br />
      Buyability: <%= review.buyability %> out of 5<br />
    </li>
  <% end %>
</ul>

<h3>Write a Review!</h3>

<%= form_for([@art_label, @review]) do |f| %>

  <%= f.label :feels %>
  <%= f.text_field :feels %><br /><br />

  <%= f.label :intoxication_level, 'Intoxication Level:' %>
  <%= f.collection_select(:intoxication_level, [['Not Intoxicated'],['Buzzed'],['More Buzzed'],['Drunk'],['More Drunk'],['Wasted']], :first, :first) %>  <br /><br />

  <%= f.label :joy, 'Joy:' %>
  <%= f.collection_radio_buttons(:joy, [[1],[2],[3],[4],[5]], :first, :first) %><br /><br />

  <%= f.label :fear, 'Fear:' %>
  <%= f.collection_radio_buttons(:fear, [[1],[2],[3],[4],[5]], :first, :first) %><br /><br />

  <%= f.label :sadness, 'Sadness:' %>
  <%= f.collection_radio_buttons(:sadness, [[1],[2],[3],[4],[5]], :first, :first) %><br /><br />

  <%= f.label :disgust, 'Disgust:' %>
  <%= f.collection_radio_buttons(:disgust, [[1],[2],[3],[4],[5]], :first, :first) %><br /><br />

  <%= f.label :anger, 'Anger:' %>
  <%= f.collection_radio_buttons(:anger, [[1],[2],[3],[4],[5]], :first, :first) %><br /><br />

  <%= f.label :cleverness, 'Cleverness:' %>
  <%= f.collection_radio_buttons(:cleverness, [[1],[2],[3],[4],[5]], :first, :first) %><br /><br />

  <%= f.label :collectability, 'Collectability:' %>
  <%= f.collection_radio_buttons(:collectability, [[1],[2],[3],[4],[5]], :first, :first) %><br /><br />

  <%= f.label :controversiality, 'Controversiality:' %>
  <%= f.collection_radio_buttons(:controversiality, [[1],[2],[3],[4],[5]], :first, :first) %><br /><br />

  <%= f.label :buyability, 'Buyability:' %>
  <%= f.collection_radio_buttons(:buyability, [[1],[2],[3],[4],[5]], :first, :first) %><br /><br />

  <br />

  <%= f.submit "Submit Review" %>

<% end %>
