<h1><%= @art_label.name %></h1>

<% if current_user == @art_label.user %>
  <%= link_to "Edit Art Label", edit_art_label_path %>
<% end %>

Image: <%= image_tag(@art_label.label_photo, height: "200") %><br>
Brewery: <%= @art_label.brewery %><br>
Beer Style: <%= @art_label.beer_style %><br>
Art Style: <%= @art_label.art_style %><br>
Container Type: <%= @art_label.container_type %><br>
Beer Description: <%= @art_label.beer_description %><br>
Submitted by:
<% if @art_label.user %>
  <%= image_tag(@art_label.user.profile_photo, height: "32") %>
<% end %>
<%= @creator %>
<br>
Art Description: <%= @art_label.art_description %><br>
Beer Rating: <%= @art_label.beer_rating %><br>

Submitted by: <%= @creator %><br>

<h3>Reviews:</h3>
<ul>
  <% @reviews.each do |review| %>
    <li>
      <%= image_tag(review.user.profile_photo, height: "32") %><br />
      Username: <%= review.user.username %><br />
      Feels: <%= review.feels %><br />
      Intoxication Level: <%= review.intoxication_level %><br />
      Joy: <%= review.joy %> out of 5<br />
      Fear: <%= review.fear %> out of 5<br />
      Sadness: <%= review.sadness %> out of 5<br />
      Disgust: <%= review.disgust %> out of 5<br />
      Anger: <%= review.anger %> out of 5<br />
      Cleverness: <%= review.cleverness %> out of 5<br />
      Collectability: <%= review.collectability %> out of 5<br />
      Controversiality: <%= review.controversiality %> out of 5<br />
      Buyability: <%= review.buyability %> out of 5<br />
      <% if current_user == review.user %>
        <%= link_to "Edit Review", edit_art_label_review_path(@art_label, review) %>
      <% end %>

      <% if current_user && current_user.admin? || current_user && current_user == review.user%>
       <%= button_to 'Delete', art_label_review_path(@art_label, review), data: { confirm: "Are you sure?" }, method: :delete %>
     <% end %>

    </li>
  <% end %>
</ul>

<h3>Write a Review!</h3>

<div class="container">
  <%= form_for([@art_label, @review]) do |f| %>

    <%= f.label :feels %>
    <%= f.text_field :feels %><br /><br />

    <%= f.label :intoxication_level, 'Intoxication Level:' %>
    <%= f.collection_select(:intoxication_level, [['Not Intoxicated'],['Buzzed'],['More Buzzed'],['Drunk'],['More Drunk'],['Wasted']], :first, :first) %>  <br /><br />

    <%= f.label :joy, 'Joy:' %>
    <%= f.collection_radio_buttons(:joy, [[1],[2],[3],[4],[5]], :first, :first) %><br /><br />

    <%= f.label :fear, 'Fear:' %>
    <%= f.collection_radio_buttons(:fear, [[1],[2],[3],[4],[5]], :first, :first) %><br /><br />

    <%= f.label :sadness, 'Sadness:' %>
    <%= f.collection_radio_buttons(:sadness, [[1],[2],[3],[4],[5]], :first, :first) %><br /><br />

    <%= f.label :disgust, 'Disgust:' %>
    <%= f.collection_radio_buttons(:disgust, [[1],[2],[3],[4],[5]], :first, :first) %><br /><br />

    <%= f.label :anger, 'Anger:' %>
    <%= f.collection_radio_buttons(:anger, [[1],[2],[3],[4],[5]], :first, :first) %><br /><br />

    <%= f.label :cleverness, 'Cleverness:' %>
    <%= f.collection_radio_buttons(:cleverness, [[1],[2],[3],[4],[5]], :first, :first) %><br /><br />

    <%= f.label :collectability, 'Collectability:' %>
    <%= f.collection_radio_buttons(:collectability, [[1],[2],[3],[4],[5]], :first, :first) %><br /><br />

    <%= f.label :controversiality, 'Controversiality:' %>
    <%= f.collection_radio_buttons(:controversiality, [[1],[2],[3],[4],[5]], :first, :first) %><br /><br />

    <%= f.label :buyability, 'Buyability:' %>
    <%= f.collection_radio_buttons(:buyability, [[1],[2],[3],[4],[5]], :first, :first) %><br /><br />

    <br />

    <%= f.submit "Submit Review" %>

  <% end %>
</div>
