<h2>Sign In</h2>
<div class="container">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :email, class: "white-text" %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :password, class: "white-text" %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me, class: "white-text" %>
      </div>
    <% end -%>

    <div class="actions">
      <%= f.submit "Sign In", class: "button" %>
    </div>
  <% end %>
</div>

<%= render "devise/shared/links" %>
