<!DOCTYPE html>
<html>
  <head>
    <title>BeerArtReviews</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.1.2/foundation.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Forum" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Princess+Sofia" rel="stylesheet">
  </head>

  <body>
    <nav class="top-bar">
        <div class='top-bar-title'>
          <div>BeerArtReviews</div>
          <div class="cursive">Where beer meets art <3</div>
        </div>
        <ul class="top-bar-section">
          <li><%= link_to 'Home', art_labels_path %>
          <%- if user_signed_in? -%>
            <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
            <% if current_user.admin? %>
              <li><%= link_to "Admin Section", admin_users_path %></li>
            <% end %>
            <%- if !current_page?(edit_user_registration_path) -%>
              <li><%= link_to 'Edit Profile', edit_user_registration_path %></li>
            <%- end -%>
            <li><%= link_to 'Add a New Art Label', new_art_label_path %>
          <%- else -%>
            <li><%= link_to 'Sign Up', new_user_registration_path %></li>
            <li><%= link_to 'Sign In', new_user_session_path %></li>
          <%- end -%>
        </ul>
    </nav>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
